<!-- <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->

 

<h1>Twfeed#index</h1>
<p>Find me in app/views/twfeed/index.html.erb</p>




<%= @twid.each do |f| %>


  <%= raw(f.html) %>
  <br>
<% end %>
